<section class="sec">
  <form class="formWidth" [dir]="direction" #journalentryForm="ngForm" >
    <div class="cardMain">
      <div class="bigMain" fxLayout>
        <h3 class="fontY">
          {{ dialog_title  }} 
        </h3>
        <img (click)="onCancel()" class="cancel_Img" src="../../../../assets/images/svg/close.png" alt="">
      </div>
      <div fxLayoutWrap fxLayoutGap="10px">
        <section class="fixed" fxLayout="column" fxLayoutGap.gt-md="20px" fxLayoutAlign="center top">
                    <mat-list fxLayout="row" fxLayoutGap.gt-md="15px">
                        <!-- Fields come here -->
  
            <div fxHide.lt-md fxLayout="column" fxLayoutGap="20px">
              <div fxLayout.gt-xs fxLayout.xs="column">
                
                <mat-list-item>            
                  <mat-form-field appearance="outline" class="matD date-field">
                       <mat-label> {{dated}} </mat-label>          
                        <input matInput name="date" 
                        [placeholder]="dated"
                         type="date" (input)="onChangeDate($event)" [(ngModel)]= "pModel.entryDate" [readonly]= "pModel.readOnly"  >           
                       </mat-form-field>          </mat-list-item>
              <mat-list-item>
                <div fxLayout fxLayoutGap="5px">
                  <h1>Currency</h1>
                  <h1>:</h1>
                  <h1>{{curName}}</h1>
                </div>
                </mat-list-item>
              <!-- <mat-list-item>
                <mat-form-field class="matC" appearance="outline">
                  <mat-select matNativeControl name="currency" [placeholder]="currency"
                    [(ngModel)]="pModel.currency" (selectionChange)="onChangeCurrency($event.value)" [disabled]="pModel.readOnly">
                    <mat-option *ngFor="let item of currencyType" [value]="item.id">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                </mat-list-item> -->
                <!-- <mat-list-item>            
                  <mat-form-field appearance="outline" class="matD date-field">
                       <mat-label> {{forexRate}} </mat-label>          
                        <input matInput name="forexRate" 
                        [placeholder]="forexRate"
                         type="text" [(ngModel)] = "pModel.forexRate" [readonly]= "pModel.readOnly"  >           
                       </mat-form-field> 
                      
                               </mat-list-item> -->
              </div>
              <div fxLayout.gt-xs fxLayout.xs="column">
                
                 
  
                                 
              </div>
              
            </div>
            <div fxHide.gt-sm fxLayout="column" fxLayoutGap="20px">
              
                
              <mat-list-item>            <mat-form-field appearance="outline" class="matD date-field">   <mat-label>{{dated}}</mat-label>           <input matInput name="date" [placeholder]="dated" type="date" [(ngModel)] = "pModel.entryDate" [readonly]= "pModel.readOnly"  >            </mat-form-field>          </mat-list-item>
              <mat-list-item>
                <!-- <mat-form-field class="matC" appearance="outline">
                  <mat-select matNativeControl name="currency" [placeholder]="currency"
                    [(ngModel)]="pModel.currency" [disabled]="pModel.readOnly">
                    <mat-option *ngFor="let item of currencyType" [value]="item.id">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field> -->
                <div fxLayout fxLayoutGap="5px">
                  <h1>Currency</h1>
                  <h1>:</h1>
                  <h1>{{curName}}</h1>
                </div>
                </mat-list-item>
                <!-- <mat-list-item>            
                  <mat-form-field appearance="outline" class="matD date-field">
                       <mat-label> {{forexRate}} </mat-label>          
                        <input matInput name="forexRate" 
                        [placeholder]="forexRate"
                         type="text" [(ngModel)] = "pModel.forexRate" [readonly]= "pModel.readOnly"  >           
                       </mat-form-field> 
                      
                               </mat-list-item>
   -->
                               <!-- <mat-list-item>
                                <mat-form-field appearance="outline" class="matD date-field">
                                  <mat-label>{{company}}</mat-label>
                                  <mat-select [(ngModel)]="pModel.sysCompanyId" [ngModelOptions]="{standalone: true}">
                                    <mat-option *ngFor="let type of companys" [value]="type.id">
                                      {{type.name}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                               </mat-list-item> -->
              
              
  
            </div>
                        <!-- Fields come here -->
                    </mat-list>
  
                    
  
                </section>
  
                <section class="add_section">
  
                  <div>
  
  
  
                        <mat-accordion class="matAcc">
  
                          <mat-expansion-panel  class="accordion" >
                            <mat-expansion-panel-header  >
                              <mat-panel-title class="alaa" >
                                <div>
                                  <span>{{line}}</span>
                                  
                                </div>
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div *ngFor="let value of elem; let i = index" fxLayoutGap="5px">
                              <div fxLayout class="firstline" fxLayoutGap="5px">
                                
                                  <div fxLayout="column" fxLayoutGap="10px">
                                    <div fxLayout.gt-sm fxLayout.lt-md="column" fxLayoutGap="10px">
                                      
                                        <mat-form-field  class="dWidth">
                                          <mat-label>{{reference}}</mat-label>
                                          <input class="inp" [ngModelOptions]="{standalone: true}"   matInput   [placeholder]="reference" type="text" [value]="elem[i].reference"  [(ngModel)] = "elem[i].reference" [readonly]= "elem[i].readOnly"  >
                                        </mat-form-field>
                                        
                                     
                                      <mat-form-field  class="dWidth" >
                                        <mat-label>{{narration}}</mat-label>
                                        <input class="inp"  [ngModelOptions]="{standalone: true}" class="description"  matInput  [placeholder]="narration" type="textArea" [value]="elem[i].narration"   [(ngModel)] = "elem[i].narration" [readonly]= "elem[i].readOnly"  >
                                      </mat-form-field>
                                      <!-- <mat-form-field  class="dWidth">
                                        <mat-label>{{company}}</mat-label>
                                        <mat-select [(ngModel)]="elem[i].sysCompanyId1" [ngModelOptions]="{standalone: true}">
                                          <mat-option *ngFor="let type of companys" [value]="type.id">
                                            {{type.name}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field> -->
                                     
                                    <!-- <mat-form-field>
                                      <mat-label>account</mat-label>
                                      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="elem[i].accountId1" [value]="value.accountId1" appearance="outline" matInput  type="number">
                                    </mat-form-field> -->
                                    <mat-form-field >
                                      <mat-label>{{acc}}</mat-label>
                                      <mat-select [(ngModel)]="elem[i].accountId1" (selectionChange)="onChangeAccount1($event.value, i)" [ngModelOptions]="{standalone: true}">
                                        <mat-option *ngFor="let type of accountType" [value]="type.id">
                                          {{type.name}}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                  
                                    <mat-form-field class="dWidth">
                                      <mat-label>{{debit}}</mat-label>
                                      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="elem[i].debit1" [value]="value.debit1" matInput  type="textbox"
                                      placeholder="Number"
                                      appIsDecimalDirective>
                                    </mat-form-field>
                                    <mat-form-field class="dWidth">
                                      <mat-label>{{credit}}</mat-label>
                                      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="elem[i].credit1" [value]="value.credit1"   matInput  type="textbox"
                                      placeholder="Number"
                                      appIsDecimalDirective>
                                    </mat-form-field>
                                    </div>
                                  <div fxLayout.gt-sm fxLayout.lt-md="column" fxLayoutGap="10px">
                                    <mat-form-field *ngIf="elem[i].showCustomer1" class="dWidth">
                                      <mat-label>{{customer}}</mat-label>
                                      <mat-select [(ngModel)]="elem[i].customerId1" [ngModelOptions]="{standalone: true}">
                                        <mat-option *ngFor="let type of customers" [value]="type.id">
                                          {{type.name}}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                    <mat-form-field *ngIf="elem[i].showSupplier1" class="dWidth">
                                      <mat-label>{{supplier}}</mat-label>
                                      <mat-select [(ngModel)]="elem[i].supplierId1" [ngModelOptions]="{standalone: true}">
                                        <mat-option *ngFor="let type of suppliers" [value]="type.id">
                                          {{type.name}}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                    <!-- <mat-form-field *ngIf="elem[i].showCost1" class="dWidth">
                                      <mat-label>{{costcenter}}</mat-label>
                                      <mat-select [(ngModel)]="elem[i].costCenterId1" [ngModelOptions]="{standalone: true}">
                                        <mat-option *ngFor="let type of costcenters" [value]="type.id">
                                          {{type.name}}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field> -->
                                   
                                    <!-- <mat-form-field *ngIf="elem[i].showShare1" class="dWidth">
                                      <mat-label>{{shareholder}}</mat-label>
                                      <mat-select [(ngModel)]="elem[i].shareholderId1" [ngModelOptions]="{standalone: true}">
                                        <mat-option *ngFor="let type of shareholders" [value]="type.id">
                                          {{type.name}}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field> -->
                                  </div>
                                  </div>
                                <button mat-icon-button type="button" (click)="deleteFun(i)">
                                  <mat-icon small class="mat-icon material-icons" role="img" aria-hidden="true" color="warn">
                                    delete
                                  </mat-icon>
                                </button>
  
                          
  
                              </div>
                              <mat-divider></mat-divider>
                            
                              
                            </div>
                              
  
                          </mat-expansion-panel>
  
                        </mat-accordion>
  
  
                      <!-- here -->
                      <!-- <mat-card (click)="collapsed=false"  class="cardcard">
                        <mat-card-title *ngIf="collapsed">{{value.value}}</mat-card-title>
                        <mat-card-content *ngIf="!collapsed">
                          <div>
                            <div class="firstline" fxLayoutGap="10px">
                              <mat-form-field>
                                <mat-label>account</mat-label>
                                <input appearance="outline" matInput name="account"  type="number">
                              </mat-form-field>
                              <mat-form-field>
                                <mat-label>debit</mat-label>
                                <input [ngModel]="input1" (ngModelChange)="getChange($event)" matInput name="debit"  type="number">
                              </mat-form-field>
                              <mat-form-field>
                                <mat-label>credit</mat-label>
                                <input disabled matInput name="credit"  type="number">
                              </mat-form-field>
  
                            </div>
                            <div class="firstline" fxLayoutGap="10px">
                              <mat-form-field>
                                <mat-label>account</mat-label>
                                <input appearance="outline" matInput name="account"  type="number">
                              </mat-form-field>
                              <mat-form-field>
                                <mat-label>debit</mat-label>
                                <input disabled matInput name="debit"  type="number">
                              </mat-form-field>
                              <mat-form-field>
                                <mat-label>credit</mat-label>
                                <input [ngModel]="input2" disabled matInput name="credit"  type="number">
                              </mat-form-field>
  
                            </div>
                          </div>
                        </mat-card-content>
  
                      </mat-card> -->
  
  
                    <!-- <button (click)="addControl()">Add</button> -->
  
                  </div>
  
                  </section>
                  <div class="cen">
                    <button mat-raised-button class="add_btn"  type="button" (click)="addControl();">
                      + {{addMore}}
                      </button>
                  </div>
                </div>
                <div class="btn-container" fxLayoutGap="10px">
                  <button class="BtnC" type="button" (click)="onCancel(); $event.preventDefault()" mat-button color="warn">{{cancel}}</button>
                  <button class="BtnS" type="button" (click)="onSubmit(); $event.preventDefault()" mat-button color="primary" >{{submit}}</button>
                </div>
  </div>
  </form>
</section>
