::ng-deep.custom-dialog > .mat-dialog-container {
  background: white;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: white;
  background: gray;
}

.sec {
  width: 100%;
}
.headerRow {
  top: 0px;
  position: sticky;
  background: #34495e;
  color: #ffffff;
  z-index: 1;
}

.index_row {
  display: flex;
  flex-direction: row;
  justify-items: center;
}
.cent {
  display: flex;
  justify-content: center;
  text-align: center;
}
.fontY {
  font-size: 35px !important;

  font-weight: lighter;
}
.centH {
  display: flex;
  font-size: 18px !important;
  font-weight: bolder;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}
.paginator {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Btn {
  outline: none;
  border: none;
}
.add_btn {
  background: #20bf6b;

  outline: none;
  border: none;
  color: white;
}
.toolbar {
  background: white;
}
// .toolSection {
//   // margin-top: 50px;
// }
.toolSection {
  height: 390px;
  overflow: hidden;
  overflow-y: scroll;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.toolSection::-webkit-scrollbar {
  width: 3px;
}
.toolSection::-webkit-scrollbar-thumb {
  border-radius: 50px;

  background-color: #e9e9e9;
}
.cards_section {
  background-color: lightgrey;
  margin-top: 50px;
}

.card {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  width: 100%;
}
@media (max-width: 600px) {
  .add_btn {
    background: #20bf6b;

    outline: none;
    width: 100% !important;
    border: none;
    color: white;
  }
}
.matC {
  width: 100px;
}
.select-wrap{
  width: 130px !important;
}

.matD {
  width: 130px;
}
@media (min-height: 800px) {
  .toolSection {
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
  }
  .toolSection::-webkit-scrollbar {
    width: 3px;
  }
  .toolSection::-webkit-scrollbar-thumb {
    border-radius: 50px;

    background-color: #e9e9e9;
  }
}
