<div class="box">
<!-- <div class="input"> -->
  <!-- <mat-form-field  class="input_class">

    <input class="input_class_input" matInput >
  </mat-form-field> -->
  <div class="img fade-in">
    <img class="image" src="../../../assets/images/svg/logo.png" alt="">
  </div>
  <!-- <mat-card (mouseover)="showButton = true" (mouseleave)="showButton = false" >
    <mat-card-title>hello title</mat-card-title>
    <mat-card-content>hello content</mat-card-content>
    <mat-card-actions>
        <button mat-icon-button *ngIf = "showButton"><mat-icon>close</mat-icon></button>
    </mat-card-actions>
</mat-card> -->
</div>
