// .input {
//     padding-top: 20px;
//     outline: none;
//     text-decoration: none;
// }

.img {
  width: 480px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 480px;
  height: 250px;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box {
  width: 100%;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
}

.input_class {
  width: 100px;
  height: 50px;

  background-color: #e9e9e9;
  border: none;
  border-radius: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: none !important;
  outline: none !important;
  text-decoration-line: none;
}

.Btn {
  outline: none;
  border: none;
}
@media (max-height: 500px) {
  .box {
    width: 100%;
    display: flex;
    height: 340;
    justify-content: center;
    align-items: center;
  }
}
@media (min-height: 700px) {
  .box {
    width: 100%;
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
  }
}
@media (min-height: 800px) {
  .box {
    width: 100%;
    display: flex;
    height: 730px;
    justify-content: center;
    align-items: center;
  }
}
