<form #sdvehiclebatchForm="ngForm" (ngSubmit)="onSubmit(sdvehiclebatchForm.value)">
  <mat-card class="cardMain">
    <mat-card-title>{{dialog_title}}</mat-card-title>
    <mat-card-content fxLayoutWrap fxLayoutGap="10px">
      <section fxLayout="column" fxLayoutGap.gt-md="20px" fxLayoutAlign="center top">
                  <mat-list fxLayout="row" fxLayoutGap.gt-md="15px">
                      <!-- Fields come here -->

          <mat-list-item>            <mat-form-field>              <input matInput name="vechicleBatchCode" placeholder="vechicleBatchCode" type="text" [(ngModel)] = "pModel.vechicleBatchCode" [readonly]= "pModel.readOnly" required >            </mat-form-field>          </mat-list-item>
          <mat-list-item>            <mat-form-field>              <input matInput name="batchDate" [matDatepicker]="batchDate" placeholder="batchDate" [(ngModel)] = "pModel.batchDate" [readonly]= "pModel.readOnly" required >               <mat-datepicker-toggle matSuffix [for]="batchDate"></mat-datepicker-toggle>              <mat-datepicker #batchDate></mat-datepicker>            </mat-form-field>          </mat-list-item>
          <mat-list-item>            <mat-form-field>              <input matInput name="totalVehicles" placeholder="totalVehicles" type="number" [(ngModel)] = "pModel.totalVehicles" [readonly]= "pModel.readOnly" required >            </mat-form-field>          </mat-list-item>
          <mat-list-item>            <mat-form-field>              <input matInput name="sdCompanyId" placeholder="sdCompanyId" type="number" [(ngModel)] = "pModel.sdCompanyId" [readonly]= "pModel.readOnly" required >            </mat-form-field>          </mat-list-item>

                      <!-- Fields come here -->
                  </mat-list>
              </section>
    </mat-card-content>
<mat-card-actions style="text-align: center">
                    <button *ngIf="pModel.entryMode=='A' || pModel.entryMode=='E'" mat-raised-button color="success" [disabled]="sdvehiclebatchForm.invalid"
                      type="submit">Submit</button>
                    <button *ngIf="pModel.entryMode=='D'" mat-raised-button color="warn" [disabled]="sdvehiclebatchForm.invalid" type="submit">Delete</button>
                    <button mat-raised-button type="button" color="warn" (click)="onCancel()">Cancel</button>
</mat-card-actions>
  </mat-card>
</form>
