.mat-dialog-container {
  padding: 0px;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: white;
  background: gray;
}
::ng-deep .mat-checkbox-layout {
  background: #ffffff;
}
.mat-dialog-container {
  padding: 0px;
}
.sec {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
}
.active {
  background: #f1f2f6;
}
.rowR {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.rowR:hover {
  background: #f1f2f6;
  transform: scale(1.05);
  padding: 0 24px;

  .cent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px !important;
    font-weight: bold;
  }
  // box-shadow: 0 0px 0px rgba(0, 0, 0, 0), 0 1px 5px rgba(0, 0, 0, 0.1) inset;
}
.cbPad {
  padding-left: 35px;
  margin-top: 7px;
}

.cent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cent2 {
  margin-top: 7px;
}

.paginator {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
::ng-deep.custom-dialog > .mat-dialog-container {
  background: white;
}
.headerRow {
  top: 0px;
  position: sticky;
  background: #34495e;
  color: #ffffff;
  z-index: 1;
}
.cent {
  display: flex;
  justify-content: center;
}
.index_row {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.fontY {
  font-size: 35px !important;

  font-weight: lighter;
}

.Btn {
  outline: none;
  border: none;
}
.add_btn {
  background: #20bf6b;

  outline: none;
  border: none;
  color: white;
}
.toolbar {
  background: white;
}
// .toolSection {
//   // margin-top: 50px;
// }
.centH {
  display: flex;
  font-size: 18px !important;
  font-weight: bolder;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}
.toolSection {
  height: 390px;
  overflow: hidden;
  overflow-y: scroll;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.toolSection::-webkit-scrollbar {
  width: 3px;
}
.toolSection::-webkit-scrollbar-thumb {
  border-radius: 50px;

  background-color: #e9e9e9;
}
.cards_section {
  background-color: lightgrey;
  margin-top: 50px;
}

.card {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  width: 100%;
}
@media (max-width: 600px) {
  .add_btn {
    background: #20bf6b;

    outline: none;
    width: 100% !important;
    border: none;
    color: white;
  }
}

@media (min-height: 800px) {
  .toolSection {
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
  }
  .toolSection::-webkit-scrollbar {
    width: 3px;
  }
  .toolSection::-webkit-scrollbar-thumb {
    border-radius: 50px;

    background-color: #e9e9e9;
  }
}
