.log {
  width: 100%;
  justify-content: center;
  align-items: center;
}
section {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
mat-card {
  width: 40em;

  padding-top: 2em;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.img_container {
  width: 100%;
  display: flex;
  height: 100px;
  justify-content: center;
}
.img {
  width: 230px;
}

h1 {
  margin: 1em 0;
  font-size: 2em;
}

form {
  width: 90%;
  margin: 0 auto;
}

mat-form-field {
  width: 100%;
}

button {
  margin: 2em auto;
}

.links {
  margin: 2em 0;
}

.links div {
  margin-bottom: 1em;
  color: rgb(128, 128, 128);
}

h1,
form,
.links {
  text-align: center;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 768px) {
  mat-card {
    width: 20em;
    padding: 2em;
  }
  .links {
    width: 90%;
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
  }
}

// @media (max-width: px) {
//   mat-card {
//     width: 40em;
//     padding: 2em;
//   }

//   h1 {
//     padding-top: 1em;
//   }

//   button {
//     margin-top: 2em;
//   }
// }
