.example-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
  overflow-y: scroll;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
}
.example-container::-webkit-scrollbar {
  width: 3px;
}
.example-container::-webkit-scrollbar-thumb {
  border-radius: 50px;

  background-color: #e9e9e9;
}
.section {
  width: 500px;
}

.inputW {
  width: 180px;
}
.inputD {
  width: 130px;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 15px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: white;
  font-size: 14px;
}

.cancel_Img {
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.bigMain {
  width: 100%;
  padding: 0 0 0 10px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.BtnS {
  outline: none;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  color: white;
  background: #20bf6b;
}
.tools {
  display: flex;
  justify-content: center;
  width: 100%;
}
.BtnC {
  outline: none;
  border: none;
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
  background: #e9e9e9;
  color: black;
}
.fontY {
  font-size: 30px !important;

  font-weight: lighter;
  margin-bottom: 20px;
  margin-top: 10px;
}
.btn-container {
  width: 100%;
  display: flex;
  margin-top: 12px;

  justify-content: flex-end;
}

@media (max-width: 660px) {
  .section {
    width: 400px;
  }
  .btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 0px;
  }
  .bigMain {
    width: 100%;
    padding: 0 0 0 20px;
    height: 100%;
  }
}
@media (max-width: 530px) {
  .example-container {
    width: 250px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  .section {
    width: 250px;
  }
  .btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .bigMain {
    width: 100%;
    padding: 0 0 0 20px;
    height: 100%;
  }
}
