<mat-toolbar>

  <mat-toolbar-row fxLayout.xs="column" fxLayoutGap.xs="20px" [dir]="direction" class="toolbar">

    <section class="fontY">
      {{header}}
    </section>

    <section class="sec"  >

      <button *ngIf="role === '2' || role === '3'" class="add_btn" mat-button color="primary" (click)="onAdd()" [disabled]="!screenRights.createFlag"><mat-icon >add</mat-icon></button>
      <div *ngIf="pageData.sort === ''" class="chImg" (click)="onMySort()"><img class="sfimg" src="../../../../assets/images/svg/sort (3).png" alt=""></div>
      <div *ngIf="pageData.sort != ''" class="chImg" (click)="onClearSort()"><img class="sfimg" src="../../../../assets/images/svg/sort (2).png" alt=""></div>
      <div *ngIf="pageData.filter === ''" class="chImg" (click)="onMyFilter()"><img class="sfimg" src="../../../../assets/images/svg/filter-filled-tool-symbol.png" alt=""></div>
      <div *ngIf="pageData.filter != ''" class="chImg" (click)="onClearFilter()"><img class="sfimg" src="../../../../assets/images/svg/filter-filled-tool-symbol (2).png" alt=""></div>
      
      <!-- <div class="chImg" (click)="onMySort()"><img class="sfimg" src="../../../../assets/images/svg/sort (3).png" alt=""></div>
      <div class="chImg" (click)="onClearSort()"><img class="sfimg" src="../../../../assets/images/svg/sort (2).png" alt=""></div>
      <div class="chImg" (click)="onMyFilter()"><img class="sfimg" src="../../../../assets/images/svg/filter-filled-tool-symbol.png" alt=""></div>
      <div class="chImg" (click)="onClearFilter()"><img class="sfimg" src="../../../../assets/images/svg/filter-filled-tool-symbol (2).png" alt=""></div> -->
      <!-- <button mat-button color="primary" (click)="openEntry()">Filter</button>
      <button mat-button color="primary" (click)="onSort()">Sort</button>
      <button mat-button color="primary" (click)="openEntry()" [disabled]="!screenRights.printFlag">Print</button>
      <button mat-button color="primary" (click)="refreshMe()">Refresh</button>

      <mat-form-field [ngStyle]="{'float':'right', 'margin-right':'60px'}">

        <input matInput (keyup)="applyFilter($event.target.value)">

        <mat-placeholder>

          <mat-icon>search</mat-icon>

        </mat-placeholder>

      </mat-form-field> -->

    </section>

  </mat-toolbar-row>

</mat-toolbar>

<!-- <Section [ngClass]="['custom-table-container']"> -->
  <Section [dir]="direction" fxHide.xs class="toolSection" mat-elevation-z8>

  <mat-table #table [dataSource]="dataSource"  style="width: 100%">

    <!-- Columns definition here to be displayed -->

    <ng-container matColumnDef="select">
      <mat-header-cell class="cbPad"  *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
</mat-checkbox>
      </mat-header-cell>
       <mat-cell class="cbPad" *matCellDef="let row; let i = index">
        <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null; onId(i,row)"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>

      </mat-cell>

  </ng-container>

    <ng-container matColumnDef="PaymentDate">      <mat-header-cell class="centH" *matHeaderCellDef>{{paymentDate}}</mat-header-cell>     <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.paymentDate | date}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="receiptno">      <mat-header-cell class="centH" *matHeaderCellDef>{{receiptno}}</mat-header-cell>     <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.receiptNo}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="PaymentCode">      <mat-header-cell class="centH" *matHeaderCellDef>{{paymentCode}}</mat-header-cell>     <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.paymentCode}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="PaymentType">      <mat-header-cell class="centH" *matHeaderCellDef>{{paymentType}}</mat-header-cell>     <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.paymentTypeName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="customer">      <mat-header-cell class="centH" *matHeaderCellDef>{{customer}}</mat-header-cell>     <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.customerName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="amount">      <mat-header-cell class="centH" *matHeaderCellDef>{{amount}}</mat-header-cell>     <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.amount}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="currency">      <mat-header-cell class="centH" *matHeaderCellDef>{{currency}}</mat-header-cell>     <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.currencyName}}</mat-cell>
    </ng-container>



    <!-- edit Column -->
    <ng-container matColumnDef="edit">
      <mat-header-cell class="cent" *matHeaderCellDef>{{edit}}</mat-header-cell>
      <mat-cell class="cent" mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="onEdit(row.paymentToCompanyId)" [disabled]="!screenRights.editFlag">
          <mat-icon small class="mat-icon material-icons" role="img" aria-hidden="true">edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- delete Column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell class="centH" *matHeaderCellDef>{{delete}}</mat-header-cell>
      <mat-cell class="cent" mat-cell *matCellDef="let row">
        <button mat-icon-button color="warn" class="Btn" (click)="onDelete(row.paymentToCompanyId)" [disabled]="!screenRights.editFlag">
          <mat-icon small class="mat-icon material-icons" role="img" aria-hidden="true">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="state">
      <mat-header-cell class="centH" *matHeaderCellDef>{{state}}</mat-header-cell>
      <mat-cell class="centH" mat-cell *matCellDef="let row">
        <button *ngIf="row.recordState === 2" mat-icon-button color="primary" class="Btn" (click)="onState(row.paymentToCompanyId, row.status)" [disabled]="!screenRights.editFlag">
          <i class="fas fa-sync"></i>
        </button>
      </mat-cell>
    </ng-container>

    <!-- view Column -->
    <ng-container matColumnDef="view">
      <mat-header-cell *matHeaderCellDef>View</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row"><button mat-icon-button color="primary" (click)="onView(row.paymentToCompanyId)"
          [disabled]="!screenRights.viewFlag">
          <mat-icon small class="mat-icon material-icons" role="img" aria-hidden="true" color="primary">visibility
          </mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row class="headerRow" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

    <div *ngIf="role === '2'">

      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onEdit(row.paymentToCompanyId, row.recordState)"  class="{{row.recordState === 3 ? 'rowRG' : 'rowR'}}"   [class.active]="clickedRows.has(row)" ></mat-row>

    </div>
    <div *ngIf="role === '3'">

      <mat-row *matRowDef="let row; columns: displayedColumns;"  class="{{row.recordState === 3 ? 'rowRG2' : 'rowR2'}}"   [class.active]="clickedRows.has(row)" ></mat-row>

    </div>
    <div *ngIf="role === '5'">

      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onEdit(row.paymentToCompanyId, row.recordState)" class="{{row.recordState === 3 ? 'rowRG2' : 'rowR'}}"   [class.active]="clickedRows.has(row)" ></mat-row>

    </div>

  </mat-table>

</Section>
<section [dir]="direction" class="cards_section" fxHide fxShow.xs>
  <div *ngFor="let index of indexes">
    <mat-card fxLayout class="card">
      <div >
        <div fxLayoutGap="5px" class="index_row">
          <h3>{{paymentDate}}</h3>
          <h3>:</h3>
          <h3>{{ index.paymentDate }}</h3>
        </div>
        <div fxLayoutGap="5px" class="index_row">
          <h3>{{paymentCode}}</h3>
          <h3>:</h3>
          <h3>{{ index.paymentCode }}</h3>
        </div>
        <div fxLayoutGap="5px" class="index_row">
          <h3>{{receiptno}}</h3>
          <h3>:</h3>
          <h3>{{ index.receiptno }}</h3>
        </div>
        <div fxLayoutGap="5px" class="index_row">
          <h3>{{paymentType}}</h3>
          <h3>:</h3>
          <h3>{{ index.paymentTypeName }}</h3>
        </div>
        <div fxLayoutGap="5px" class="index_row">
          <h3>{{customer}}</h3>
          <h3>:</h3>
          <h3>{{ index.customerName }}</h3>
        </div>
        <div fxLayoutGap="5px" class="index_row">
          <h3>{{amount}}</h3>
          <h3>:</h3>
          <h3>{{ index.amount }}</h3>
        </div>
        <div fxLayoutGap="5px" class="index_row">
          <h3>{{currency}}</h3>
          <h3>:</h3>
          <h3>{{ index.currencyName }}</h3>
        </div>

      </div>
      <div>
        <button class="Btn" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
<mat-menu #menu="matMenu">
  <button (click)="onEdit(index.paymentToCompanyId)" class="Btn" mat-menu-item>{{edit}}</button>
  
</mat-menu>
      </div>
    </mat-card>

  </div>
</section>


<div class="paginator">
  <mat-paginator [length]="totalRecords" [pageSize]="recordsPerPage" [pageSizeOptions]="pageSizeOptions"
  (page)="paginatoryOperation($event)" showFirstLastButtons>
</mat-paginator>
</div>

