<mat-toolbar>

  <mat-toolbar-row fxLayout.xs="column" fxLayoutGap.xs="20px" [dir]="direction" class="toolbar">

    <section class="fontY">
      {{header}}
    </section>

    <section class="sec" >

      <button class="add_btn" mat-button color="primary" (click)="onAdd()" [disabled]="!screenRights.createFlag"><mat-icon>add</mat-icon></button>
      <!-- <div class="chImg" (click)="onMySort()"><img class="sfimg" src="../../../../assets/images/svg/sort (3).png" alt=""></div>
      <div class="chImg" (click)="onClearSort()"><img class="sfimg" src="../../../../assets/images/svg/sort (2).png" alt=""></div>
      <div class="chImg" (click)="onMyFilter()"><img class="sfimg" src="../../../../assets/images/svg/filter-filled-tool-symbol.png" alt=""></div>
      <div class="chImg" (click)="onClearFilter()"><img class="sfimg" src="../../../../assets/images/svg/filter-filled-tool-symbol (2).png" alt=""></div> -->
      <!-- <button mat-button color="primary" (click)="openEntry()">Filter</button>
      <button mat-button color="primary" (click)="onSort()">Sort</button>
      <button mat-button color="primary" (click)="openEntry()" [disabled]="!screenRights.printFlag">Print</button>
      <button mat-button color="primary" (click)="refreshMe()">Refresh</button>

      <mat-form-field [ngStyle]="{'float':'right', 'margin-right':'60px'}">

        <input matInput (keyup)="applyFilter($event.target.value)">

        <mat-placeholder>

          <mat-icon>search</mat-icon>

        </mat-placeholder>

      </mat-form-field> -->

    </section>

  </mat-toolbar-row>

</mat-toolbar>

<!-- <Section [ngClass]="['custom-table-container']"> -->
  <Section [dir]="direction" fxHide.xs class="toolSection" mat-elevation-z8>

  <mat-table #table [dataSource]="dataSource"  style="width: 100%">

    <!-- Columns definition here to be displayed -->

    <ng-container matColumnDef="select">
      <mat-header-cell class="cbPad"  *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
</mat-checkbox>
      </mat-header-cell>
       <mat-cell class="cbPad" *matCellDef="let row; let i = index">
        <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null; onId(i,row)"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>

      </mat-cell>

  </ng-container>
    <ng-container matColumnDef="InvoiceNo">      <mat-header-cell class="centH" *matHeaderCellDef>{{invoiceNo}}</mat-header-cell>     <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.invoiceNo}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="InvoiceDate">      <mat-header-cell class="centH" *matHeaderCellDef>{{invoiceDate}}</mat-header-cell>     <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.invoiceDate | date}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="customer">      <mat-header-cell class="centH" *matHeaderCellDef>{{customer}}</mat-header-cell>     <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.customerName}}</mat-cell>
    </ng-container>
    <!-- <ng-container matColumnDef="warehouse">      <mat-header-cell class="centH" *matHeaderCellDef>{{warehouse}}</mat-header-cell>     <mat-cell mat-cell class="cent" *matCellDef="let row">{{row.wareHouseName}}</mat-cell>
    </ng-container> -->



    <!-- edit Column -->
    <ng-container matColumnDef="edit">
      <mat-header-cell class="cent" *matHeaderCellDef>{{edit}}</mat-header-cell>
      <mat-cell class="cent" mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="onEdit(row.invoiceId)" [disabled]="!screenRights.editFlag">
          <mat-icon small class="mat-icon material-icons" role="img" aria-hidden="true">edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <!-- report Column -->
    <ng-container matColumnDef="report">
      <mat-header-cell class="centH" *matHeaderCellDef>{{report}}</mat-header-cell>
      <mat-cell class="cent" mat-cell *matCellDef="let row">
        <button mat-icon-button class="Btn"  color="primary" (click)="onReport(row.invoiceId)" [disabled]="!screenRights.editFlag">
          <mat-icon small class="mat-icon material-icons" role="img" aria-hidden="true">printer</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- <ng-container matColumnDef="delete">
      <mat-header-cell class="centH" *matHeaderCellDef>{{delete}}</mat-header-cell>
      <mat-cell class="cent" mat-cell *matCellDef="let row">
        <button mat-icon-button class="Btn"  color="warn" (click)="onDelete(row.invoiceId)" [disabled]="!screenRights.editFlag">
          <mat-icon small class="mat-icon material-icons" role="img" aria-hidden="true">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container> -->

    <!-- delete Column -->
    <!-- <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row"><button mat-icon-button color="primary"
          (click)="onDelete(row.invoiceId)" [disabled]="!screenRights.deleteFlag">
          <mat-icon small class="mat-icon material-icons" role="img" aria-hidden="true" color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container> -->

    <!-- view Column -->
    <ng-container matColumnDef="view">
      <mat-header-cell *matHeaderCellDef>View</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row"><button mat-icon-button color="primary" (click)="onView(row.invoiceId)"
          [disabled]="!screenRights.viewFlag">
          <mat-icon small class="mat-icon material-icons" role="img" aria-hidden="true" color="primary">visibility
          </mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row class="headerRow" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onEdit(row.invoiceId)" class="rowR" [class.active]="clickedRows.has(row)" ></mat-row>

  </mat-table>

</Section>

<section [dir]="direction" class="cards_section" fxHide fxShow.xs>
  <div *ngFor="let index of indexes">
    <mat-card fxLayout class="card">
      <div >
        <div fxLayoutGap="5px" class="index_row">
          <h3>{{invoiceNo}}</h3>
          <h3>:</h3>
          <h3>{{ index.invoiceNo }}</h3>
        </div>
        <div fxLayoutGap="5px" class="index_row">
          <h3>{{invoiceDate}}</h3>
          <h3>:</h3>
          <h3>{{ index.invoiceDate | date }}</h3>
        </div>
        <div fxLayoutGap="5px" class="index_row">
          <h3>{{customer}}</h3>
          <h3>:</h3>
          <h3>{{ index.customerName }}</h3>
        </div>
        <div fxLayoutGap="5px" class="index_row">
          <h3>{{warehouse}}</h3>
          <h3>:</h3>
          <h3>{{ index.wareHouseName }}</h3>
        </div>
        
      </div>
      <div>
        <button class="Btn" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
<mat-menu #menu="matMenu">
  <button (click)="onEdit(index.invoiceId)" class="Btn" mat-menu-item>{{edit}}</button>
  
</mat-menu>
      </div>
    </mat-card>

  </div>
</section>
<div class="paginator">
  

<mat-paginator [length]="totalRecords" [pageSize]="recordsPerPage" [pageSizeOptions]="pageSizeOptions"
(page)="paginatoryOperation($event)" showFirstLastButtons>
</mat-paginator>


</div>