.mat-dialog-container {
  padding: 0px;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: white;
  background: gray;
}
.mat-dialog-container {
  padding: 0px;
}
::ng-deep.custom-dialog > .mat-dialog-container {
  background: white;
}
.headerRow {
  top: 0px;
  position: sticky;
  z-index: 1;
}
.chImg {
  cursor: pointer;
  margin-left: 20px;
}

.sfimg {
  width: 28px;
  height: 28px;
}
.cent {
  display: flex;
  justify-content: center;
}
.index_row {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.fontY {
  font-size: 35px !important;

  font-weight: lighter;
}

.Btn {
  outline: none;
  border: none;
}
.add_btn {
  background: #20bf6b;
  border-radius: 10px;
  outline: none;
  border: none;
  color: white;
}
.toolbar {
  background: white;
}
// .toolSection {
//   // margin-top: 50px;
// }
.toolSection {
  height: 400px;
  overflow: hidden;
  overflow-y: scroll;
}
.toolSection::-webkit-scrollbar {
  width: 3px;
}
.toolSection::-webkit-scrollbar-thumb {
  border-radius: 50px;

  background-color: #e9e9e9;
}
.cards_section {
  background-color: lightgrey;
  margin-top: 20px;
}

.card {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  width: 100%;
}
@media (min-height: 800px) {
  .toolSection {
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
  }
  .toolSection::-webkit-scrollbar {
    width: 3px;
  }
  .toolSection::-webkit-scrollbar-thumb {
    border-radius: 50px;

    background-color: #e9e9e9;
  }
}
