<!-- <mat-sidenav-container  class="sidenav-container"> -->
  <!-- <mat-sidenav  #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false"
    [ngClass]="{'hidden':!(isHandset$ | async)}" (click)="drawer.toggle()">
    <mat-toolbar *ngIf="isLoggedIn()" style="z-index: 1;"> -->
      <!-- <button mat-button  (click)="drawer.toggle()" [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>&nbsp;Profile
      </button> -->
      
    <!-- </mat-toolbar> -->
    <!-- <mat-nav-list *ngIf="isLoggedIn()">
      <a mat-list-item routerLink="sdvhcledtl" *ngIf="!(role === '5' || role === '-1')">Vehicles</a>
      <a mat-list-item routerLink="sddspchpln">Dispatch</a>
      <a mat-list-item routerLink="sdshplncmpny" *ngIf="role === '1'">Shipping Companies</a>
      <a mat-list-item routerLink="sdcmpny">Companies</a>
      <a mat-list-item routerLink="sddspchplnxpns">Expenses</a>
      <a mat-list-item routerLink="sddispatchplanpayment">Payments</a>
      <a mat-list-item routerLink="sdcarmodel" *ngIf="role === '1'">Models</a>
      <a mat-list-item routerLink="sdcarmake" *ngIf="role === '1'">Brands</a>
    </mat-nav-list> -->
    <!-- <mat-nav-list  *ngIf="isLoggedIn()">
      
      <a *ngIf="isLoggedIn()"  mat-list-item routerLink="Account">حساب</a>
      <a *ngIf="isLoggedIn()" mat-list-item routerLink="Bank">بنك</a>
      <a *ngIf="isLoggedIn()" mat-list-item routerLink="Project">مشروع</a>
      <a *ngIf="isLoggedIn()"  mat-list-item routerLink="Forex">سعر التحويل</a>
      <a *ngIf="isLoggedIn()" mat-list-item routerLink="JournalEntry">مصروفات و ايرادات</a>
      <a *ngIf="isLoggedIn()" (click)="onSignOut()"  mat-list-item routerLink="login" > خروج</a>
      <a *ngIf="!isLoggedIn()" mat-list-item routerLink="login">تسجيل الدخول</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content dir="ltr" >
    <mat-toolbar  color="primary" style="z-index: 1; direction: rtl;">
      <button  type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon" style="margin-left: 0.8em;">menu</mat-icon>
      </button>
      <span style="flex: 1 1 auto;" [ngClass]="{'hidden': !(isHandset$ | async)}"></span>
      <span>
        <a><img src="../../assets/images/svg/Quality House logo (PNG) 2.png" style="width: 40px; margin-right: 0.5em;"></a>
        
      </span>
      <span [ngClass]="{'hidden': (isHandset$ | async)}" style="flex: 1 1 auto;"></span> -->
      <!-- <span [ngClass]="{'hidden': (isHandset$ | async)}" class="navDesk" *ngIf="isLoggedIn()">
        <a routerLink="sdvhcledtl" *ngIf="!(role === '5' || role === '-1')">Vehicles</a>
        <a routerLink="sddspchpln">Dispatch</a>
        <a routerLink="sdshplncmpny" *ngIf="role === '1'">Shipping Companies</a>
        <a routerLink="sdcmpny">Companies</a>
        <a routerLink="sddspchplnxpns">Expenses</a> -->
        <!-- <a routerLink="sddispatchplanpayment">Payments</a>
        <a routerLink="sdcarmodel" *ngIf="role === '1'">Models</a>
        <a routerLink="sdcarmake" *ngIf="role === '1'">Brands</a>
        <button mat-button [matMenuTriggerFor]="menu" style="font-size: 1em;">
          <mat-icon style="font-size: 1.7em; padding-bottom: 0.4em;">account_circle</mat-icon>
        </button>
      </span> -->
      <!-- <span [ngClass]="{'hidden': (isHandset$ | async)}" class="navDesk" *ngIf="isLoggedIn()"> -->
        <!-- <a routerLink="login">Sign In</a> -->
        <!-- <a *ngIf="isLoggedIn()" routerLink="Account"> حساب</a>
        <a *ngIf="isLoggedIn()" routerLink="Bank"> بنك</a>
        <a *ngIf="isLoggedIn()" routerLink="Project"> مشروع</a>
        <a *ngIf="isLoggedIn()" routerLink="Forex"> سعر التحويل</a>
        <a *ngIf="isLoggedIn()" routerLink="JournalEntry">  مصروفات و ايرادات</a> -->
        <!-- <a *ngIf="isLoggedIn()" (click)="onSignOut()" routerLink="login"> خروج</a> -->
        
        

        
      <!-- </span>
      <span></span>
    </mat-toolbar> -->
    <router-outlet></router-outlet>
  <!-- </mat-sidenav-content> -->
<!-- </mat-sidenav-container> -->

<!-- <mat-menu #menu="matMenu">
  <a mat-menu-item routerLink="regsduser" *ngIf="role === '1'">
    <mat-icon>supervisor_account</mat-icon>Users
  </a>
  <a mat-menu-item routerLink="signup" *ngIf="role === '1'">
    <mat-icon>supervisor_account</mat-icon>Add Company
  </a>
  <button mat-menu-item [matMenuTriggerFor]="financial">
    <mat-icon>assessment</mat-icon>Financials
  </button>
  <button mat-menu-item [matMenuTriggerFor]="settingsMenu">
    <mat-icon>settings</mat-icon>Settings
  </button>
  <button mat-menu-item (click)="onSignOut()">
    <mat-icon>power_settings_new</mat-icon>Sign Out
  </button>
</mat-menu> -->

<!-- <mat-menu #settingsMenu="matMenu">
  <a mat-menu-item routerLink="changepassword">Change Password</a>
  <button mat-menu-item (click)="$event.stopPropagation()">
    <mat-slide-toggle style="float: right; margin-top: 0.7em;" (toggleChange)="sendOutput()"></mat-slide-toggle>Dark
    Mode
  </button>
</mat-menu>

<mat-menu #financial="matMenu">
  <button mat-menu-item *ngIf="role === '1'" (click)="openFinancialReport()">Financial Report</button>
  <button mat-menu-item *ngIf="role === '1'" (click)="openMasterReport()">Master Report</button>
  <button mat-menu-item (click)="openReport()">Report</button>
</mat-menu> -->
