
<section class="section" [dir]="direction">
  <div class="bigMain" fxLayout>
    <h3 class="fontY">
      {{ header  }} 
    </h3>
    <img (click)="onCancel()" class="cancel_Img" src="../../../../assets/images/svg/close.png" alt="">
  </div>
  
  <div class="tools" [dir]="direction">
  
    <mat-form-field appearance="fill">
      <mat-label>{{bankAccount}}</mat-label>
      <mat-select
        [(ngModel)]="bankAccountId"
        (selectionChange)="onChangeBank($event.value)"
        [ngModelOptions]="{standalone: true}"
      >
        <mat-option
          *ngFor="let choice of banks"
          [value]="choice.id"
        >
          {{ choice.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <div class="btn-container">
    <button class="BtnC" (click)="onCancel()" mat-button color="warn"  type="submit">{{cancel}}</button>
    <button class="BtnS" (click)="onApply()" mat-button color="primary" [disabled]="disabled" type="submit">{{submit}}</button>
  </div>
  
</section>